In [1]:
pwd

'c:\\Users\\Webstar Ochieng\\Documents'

In [3]:
'cd Documents/CSV docs'

'cd Documents/CSV docs'

In [4]:
import pandas as pd

Requirement already satisfied: numpy in c:\users\webstar ochieng\anaconda3\lib\site-packages (1.21.5)

In [5]:
import numpy as np

In [6]:
conda install matplotlib

Note: you may need to restart the kernel to use updated packages.

EnvironmentLocationNotFound: Not a conda environment: c:\Users\Webstar

In [7]:
from matplotlib import pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [8]:
import seaborn as sns

In [19]:
sns.set_theme(style="darkgrid")

In [10]:
cd '"IT Salary Survey EU  2020.csv"'

[WinError 123] The filename, directory name, or volume label syntax is incorrect: '\'"IT Salary Survey EU 2020.csv\''
c:\Users\Webstar Ochieng\Documents\CSV_docs

In [11]:
df = pd.read_csv("IT Salary Survey EU  2020.csv")
df.head

<bound method NDFrame.head of                 Timestamp   Age Gender         City  \
0     24/11/2020 11:14:15  26.0   Male       Munich
1     24/11/2020 11:14:16  26.0   Male       Berlin
2     24/11/2020 11:14:21  29.0   Male       Berlin
3     24/11/2020 11:15:24  28.0   Male       Berlin
4     24/11/2020 11:15:46  37.0   Male       Berlin
...                   ...   ...    ...          ...
1248  18/01/2021 15:05:50  31.0   Male       Berlin
1249  18/01/2021 17:46:02  33.0   Male       Berlin
1250  18/01/2021 23:20:35  39.0   Male       Munich
1251  19/01/2021 10:17:58  26.0   Male  Saarbrücken
1252  19/01/2021 12:01:11  26.0   Male       Berlin

                                   Position  Total years of experience  \
0                          Software Engineer                         5
1                          Backend Developer                         7
2                          Software Engineer                        12
3                         Frontend Developer                         4
4                          Backend Developer                        17
...                                      ...                       ...
1248                       Backend Developer                         9
1249  Researcher/ Consumer Insights Analyst                         10
1250                   IT Operations Manager                        15
1251                      Frontend Developer                         7
1252                                  DevOps                         2

     Years of experience in Germany Seniority level  \
0                                 3          Senior
1                                 4          Senior
2                                 6            Lead
3                                 1          Junior
4                                 6          Senior
...                             ...             ...
1248                              5          Senior
1249                            1.5          Senior
1250                              2            Lead
1251                              7          Middle
1252                              2          Middle

     Your main technology / programming language  \
0                                     TypeScript
1                                           Ruby
2                        Javascript / Typescript
3                                     Javascript
4                                        C# .NET
...                                          ...
1248                                        Java
1249                           consumer analysis
1250                                         PHP
1251                                  JavaScript
1252                                        yaml

     Other technologies/programming languages you use often  ...  \
0                       Kotlin, Javascript / Typescript      ...
1                                                   NaN      ...
2                       Javascript / Typescript, Docker      ...
3                                                   NaN      ...
4                                .NET, SQL, AWS, Docker      ...
...                                                 ...      ...
1248  Python, Javascript / Typescript, Java / Scala,...      ...
1249                                                NaN      ...
1250  Python, C/C++, Javascript / Typescript, Java /...      ...
1251  Javascript / Typescript, Docker, HTML, CSS; Ad...      ...
1252  Python, AWS, Kubernetes, Docker, terraform, an...      ...

      Annual bonus+stocks one year ago. Only answer if staying in same country  \
0                                                 10000
1                                                  5000
2                                                100000
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                              72000
1249                                               2500
1250                                                NaN
1251                                              36400
1252                                                  0

     Number of vacation days           Employment status   Сontract duration  \
0                         30          Full-time employee  Unlimited contract
1                         28          Full-time employee  Unlimited contract
2                         30  Self-employed (freelancer)  Temporary contract
3                         24          Full-time employee  Unlimited contract
4                         29          Full-time employee  Unlimited contract
...                      ...                         ...                 ...
1248                      26          Full-time employee  Unlimited contract
1249              unlimited           Full-time employee  Unlimited contract
1250                      28          Full-time employee  Unlimited contract
1251                      27          Full-time employee  Unlimited contract
1252                      30          Full-time employee  Unlimited contract

     Main language at work Company size Company type  \
0                  English       51-100      Product
1                  English     101-1000      Product
2                  English     101-1000      Product
3                  English       51-100      Startup
4                  English     101-1000      Product
...                    ...          ...          ...
1248               English       51-100      Product
1249               English        1000+      Product
1250               English     101-1000    eCommerce
1251                German     101-1000      Product
1252               English       51-100      Startup

     Have you lost your job due to the coronavirus outbreak?  \
0                                                    No
1                                                    No
2                                                   Yes
3                                                    No
4                                                    No
...                                                 ...
1248                                                Yes
1249                                                 No
1250                                                 No
1251                                                 No
1252                                                 No

     Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                NaN
1250                                                NaN
1251                                                NaN
1252                                               30.0

     Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                  0
1250                                                NaN
1251                                                  0
1252                                                600

[1253 rows x 23 columns]>

In [12]:
df.tail

<bound method NDFrame.tail of                 Timestamp   Age Gender         City  \
0     24/11/2020 11:14:15  26.0   Male       Munich
1     24/11/2020 11:14:16  26.0   Male       Berlin
2     24/11/2020 11:14:21  29.0   Male       Berlin
3     24/11/2020 11:15:24  28.0   Male       Berlin
4     24/11/2020 11:15:46  37.0   Male       Berlin
...                   ...   ...    ...          ...
1248  18/01/2021 15:05:50  31.0   Male       Berlin
1249  18/01/2021 17:46:02  33.0   Male       Berlin
1250  18/01/2021 23:20:35  39.0   Male       Munich
1251  19/01/2021 10:17:58  26.0   Male  Saarbrücken
1252  19/01/2021 12:01:11  26.0   Male       Berlin

                                   Position  Total years of experience  \
0                          Software Engineer                         5
1                          Backend Developer                         7
2                          Software Engineer                        12
3                         Frontend Developer                         4
4                          Backend Developer                        17
...                                      ...                       ...
1248                       Backend Developer                         9
1249  Researcher/ Consumer Insights Analyst                         10
1250                   IT Operations Manager                        15
1251                      Frontend Developer                         7
1252                                  DevOps                         2

     Years of experience in Germany Seniority level  \
0                                 3          Senior
1                                 4          Senior
2                                 6            Lead
3                                 1          Junior
4                                 6          Senior
...                             ...             ...
1248                              5          Senior
1249                            1.5          Senior
1250                              2            Lead
1251                              7          Middle
1252                              2          Middle

     Your main technology / programming language  \
0                                     TypeScript
1                                           Ruby
2                        Javascript / Typescript
3                                     Javascript
4                                        C# .NET
...                                          ...
1248                                        Java
1249                           consumer analysis
1250                                         PHP
1251                                  JavaScript
1252                                        yaml

     Other technologies/programming languages you use often  ...  \
0                       Kotlin, Javascript / Typescript      ...
1                                                   NaN      ...
2                       Javascript / Typescript, Docker      ...
3                                                   NaN      ...
4                                .NET, SQL, AWS, Docker      ...
...                                                 ...      ...
1248  Python, Javascript / Typescript, Java / Scala,...      ...
1249                                                NaN      ...
1250  Python, C/C++, Javascript / Typescript, Java /...      ...
1251  Javascript / Typescript, Docker, HTML, CSS; Ad...      ...
1252  Python, AWS, Kubernetes, Docker, terraform, an...      ...

      Annual bonus+stocks one year ago. Only answer if staying in same country  \
0                                                 10000
1                                                  5000
2                                                100000
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                              72000
1249                                               2500
1250                                                NaN
1251                                              36400
1252                                                  0

     Number of vacation days           Employment status   Сontract duration  \
0                         30          Full-time employee  Unlimited contract
1                         28          Full-time employee  Unlimited contract
2                         30  Self-employed (freelancer)  Temporary contract
3                         24          Full-time employee  Unlimited contract
4                         29          Full-time employee  Unlimited contract
...                      ...                         ...                 ...
1248                      26          Full-time employee  Unlimited contract
1249              unlimited           Full-time employee  Unlimited contract
1250                      28          Full-time employee  Unlimited contract
1251                      27          Full-time employee  Unlimited contract
1252                      30          Full-time employee  Unlimited contract

     Main language at work Company size Company type  \
0                  English       51-100      Product
1                  English     101-1000      Product
2                  English     101-1000      Product
3                  English       51-100      Startup
4                  English     101-1000      Product
...                    ...          ...          ...
1248               English       51-100      Product
1249               English        1000+      Product
1250               English     101-1000    eCommerce
1251                German     101-1000      Product
1252               English       51-100      Startup

     Have you lost your job due to the coronavirus outbreak?  \
0                                                    No
1                                                    No
2                                                   Yes
3                                                    No
4                                                    No
...                                                 ...
1248                                                Yes
1249                                                 No
1250                                                 No
1251                                                 No
1252                                                 No

     Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                NaN
1250                                                NaN
1251                                                NaN
1252                                               30.0

     Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                  0
1250                                                NaN
1251                                                  0
1252                                                600

[1253 rows x 23 columns]>

In [13]:
df.shape

(1253, 23)

In [14]:
df.info

<bound method DataFrame.info of                 Timestamp   Age Gender         City  \
0     24/11/2020 11:14:15  26.0   Male       Munich
1     24/11/2020 11:14:16  26.0   Male       Berlin
2     24/11/2020 11:14:21  29.0   Male       Berlin
3     24/11/2020 11:15:24  28.0   Male       Berlin
4     24/11/2020 11:15:46  37.0   Male       Berlin
...                   ...   ...    ...          ...
1248  18/01/2021 15:05:50  31.0   Male       Berlin
1249  18/01/2021 17:46:02  33.0   Male       Berlin
1250  18/01/2021 23:20:35  39.0   Male       Munich
1251  19/01/2021 10:17:58  26.0   Male  Saarbrücken
1252  19/01/2021 12:01:11  26.0   Male       Berlin

                                   Position  Total years of experience  \
0                          Software Engineer                         5
1                          Backend Developer                         7
2                          Software Engineer                        12
3                         Frontend Developer                         4
4                          Backend Developer                        17
...                                      ...                       ...
1248                       Backend Developer                         9
1249  Researcher/ Consumer Insights Analyst                         10
1250                   IT Operations Manager                        15
1251                      Frontend Developer                         7
1252                                  DevOps                         2

     Years of experience in Germany Seniority level  \
0                                 3          Senior
1                                 4          Senior
2                                 6            Lead
3                                 1          Junior
4                                 6          Senior
...                             ...             ...
1248                              5          Senior
1249                            1.5          Senior
1250                              2            Lead
1251                              7          Middle
1252                              2          Middle

     Your main technology / programming language  \
0                                     TypeScript
1                                           Ruby
2                        Javascript / Typescript
3                                     Javascript
4                                        C# .NET
...                                          ...
1248                                        Java
1249                           consumer analysis
1250                                         PHP
1251                                  JavaScript
1252                                        yaml

     Other technologies/programming languages you use often  ...  \
0                       Kotlin, Javascript / Typescript      ...
1                                                   NaN      ...
2                       Javascript / Typescript, Docker      ...
3                                                   NaN      ...
4                                .NET, SQL, AWS, Docker      ...
...                                                 ...      ...
1248  Python, Javascript / Typescript, Java / Scala,...      ...
1249                                                NaN      ...
1250  Python, C/C++, Javascript / Typescript, Java /...      ...
1251  Javascript / Typescript, Docker, HTML, CSS; Ad...      ...
1252  Python, AWS, Kubernetes, Docker, terraform, an...      ...

      Annual bonus+stocks one year ago. Only answer if staying in same country  \
0                                                 10000
1                                                  5000
2                                                100000
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                              72000
1249                                               2500
1250                                                NaN
1251                                              36400
1252                                                  0

     Number of vacation days           Employment status   Сontract duration  \
0                         30          Full-time employee  Unlimited contract
1                         28          Full-time employee  Unlimited contract
2                         30  Self-employed (freelancer)  Temporary contract
3                         24          Full-time employee  Unlimited contract
4                         29          Full-time employee  Unlimited contract
...                      ...                         ...                 ...
1248                      26          Full-time employee  Unlimited contract
1249              unlimited           Full-time employee  Unlimited contract
1250                      28          Full-time employee  Unlimited contract
1251                      27          Full-time employee  Unlimited contract
1252                      30          Full-time employee  Unlimited contract

     Main language at work Company size Company type  \
0                  English       51-100      Product
1                  English     101-1000      Product
2                  English     101-1000      Product
3                  English       51-100      Startup
4                  English     101-1000      Product
...                    ...          ...          ...
1248               English       51-100      Product
1249               English        1000+      Product
1250               English     101-1000    eCommerce
1251                German     101-1000      Product
1252               English       51-100      Startup

     Have you lost your job due to the coronavirus outbreak?  \
0                                                    No
1                                                    No
2                                                   Yes
3                                                    No
4                                                    No
...                                                 ...
1248                                                Yes
1249                                                 No
1250                                                 No
1251                                                 No
1252                                                 No

     Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                NaN
1250                                                NaN
1251                                                NaN
1252                                               30.0

     Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                  0
1250                                                NaN
1251                                                  0
1252                                                600

[1253 rows x 23 columns]>

In [15]:
df.describe

<bound method NDFrame.describe of                 Timestamp   Age Gender         City  \
0     24/11/2020 11:14:15  26.0   Male       Munich
1     24/11/2020 11:14:16  26.0   Male       Berlin
2     24/11/2020 11:14:21  29.0   Male       Berlin
3     24/11/2020 11:15:24  28.0   Male       Berlin
4     24/11/2020 11:15:46  37.0   Male       Berlin
...                   ...   ...    ...          ...
1248  18/01/2021 15:05:50  31.0   Male       Berlin
1249  18/01/2021 17:46:02  33.0   Male       Berlin
1250  18/01/2021 23:20:35  39.0   Male       Munich
1251  19/01/2021 10:17:58  26.0   Male  Saarbrücken
1252  19/01/2021 12:01:11  26.0   Male       Berlin

                                   Position  Total years of experience  \
0                          Software Engineer                         5
1                          Backend Developer                         7
2                          Software Engineer                        12
3                         Frontend Developer                         4
4                          Backend Developer                        17
...                                      ...                       ...
1248                       Backend Developer                         9
1249  Researcher/ Consumer Insights Analyst                         10
1250                   IT Operations Manager                        15
1251                      Frontend Developer                         7
1252                                  DevOps                         2

     Years of experience in Germany Seniority level  \
0                                 3          Senior
1                                 4          Senior
2                                 6            Lead
3                                 1          Junior
4                                 6          Senior
...                             ...             ...
1248                              5          Senior
1249                            1.5          Senior
1250                              2            Lead
1251                              7          Middle
1252                              2          Middle

     Your main technology / programming language  \
0                                     TypeScript
1                                           Ruby
2                        Javascript / Typescript
3                                     Javascript
4                                        C# .NET
...                                          ...
1248                                        Java
1249                           consumer analysis
1250                                         PHP
1251                                  JavaScript
1252                                        yaml

     Other technologies/programming languages you use often  ...  \
0                       Kotlin, Javascript / Typescript      ...
1                                                   NaN      ...
2                       Javascript / Typescript, Docker      ...
3                                                   NaN      ...
4                                .NET, SQL, AWS, Docker      ...
...                                                 ...      ...
1248  Python, Javascript / Typescript, Java / Scala,...      ...
1249                                                NaN      ...
1250  Python, C/C++, Javascript / Typescript, Java /...      ...
1251  Javascript / Typescript, Docker, HTML, CSS; Ad...      ...
1252  Python, AWS, Kubernetes, Docker, terraform, an...      ...

      Annual bonus+stocks one year ago. Only answer if staying in same country  \
0                                                 10000
1                                                  5000
2                                                100000
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                              72000
1249                                               2500
1250                                                NaN
1251                                              36400
1252                                                  0

     Number of vacation days           Employment status   Сontract duration  \
0                         30          Full-time employee  Unlimited contract
1                         28          Full-time employee  Unlimited contract
2                         30  Self-employed (freelancer)  Temporary contract
3                         24          Full-time employee  Unlimited contract
4                         29          Full-time employee  Unlimited contract
...                      ...                         ...                 ...
1248                      26          Full-time employee  Unlimited contract
1249              unlimited           Full-time employee  Unlimited contract
1250                      28          Full-time employee  Unlimited contract
1251                      27          Full-time employee  Unlimited contract
1252                      30          Full-time employee  Unlimited contract

     Main language at work Company size Company type  \
0                  English       51-100      Product
1                  English     101-1000      Product
2                  English     101-1000      Product
3                  English       51-100      Startup
4                  English     101-1000      Product
...                    ...          ...          ...
1248               English       51-100      Product
1249               English        1000+      Product
1250               English     101-1000    eCommerce
1251                German     101-1000      Product
1252               English       51-100      Startup

     Have you lost your job due to the coronavirus outbreak?  \
0                                                    No
1                                                    No
2                                                   Yes
3                                                    No
4                                                    No
...                                                 ...
1248                                                Yes
1249                                                 No
1250                                                 No
1251                                                 No
1252                                                 No

     Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                NaN
1250                                                NaN
1251                                                NaN
1252                                               30.0

     Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1248                                                NaN
1249                                                  0
1250                                                NaN
1251                                                  0
1252                                                600

[1253 rows x 23 columns]>

In [40]:
summary.corr(method='pearson')

     Age
Age  1.0

In [20]:
# Calculate summary statistics for city of residence and average salary
summary = df.groupby("City").agg({"Age": "mean"})

In [21]:
print(summary)

            Age
City
Aachen     30.5
Amsterdam  30.0
Ansbach    30.0
Barcelona  29.5
Basel      29.0
...         ...
Wroclaw    42.0
Würzburg   28.0
Zurich     34.2
Zürich     22.0
warsaw     28.0

[119 rows x 1 columns]

In [38]:
# Calculate the correlation between programming language and salary
correlation = df[["Age", "Number of vacation days"]].corr()

In [39]:
print(correlation)

     Age
Age  1.0